{% extends "base.html" %}
{% block content %}
<form action="{% url 'submit_form' %}" method="POST">
  {% csrf_token %}
  <label for="vin">VIN:</label>
  <input type="text" id="vin" name="vin"><br>
  <label for="car_number">Номер авто:</label>
  <input type="text" id="car_number" name="car_number"><br>
  <label for="car_brand">Марка авто:</label>
  <input type="text" id="car_brand" name="car_brand"><br>
  <label for="phone">Телефон:</label>
  <input type="text" id="phone" name="phone"><br>
  <input type="submit" value="Prepare" class="btn btn-primary">
</form>
{% endblock %}
