<!-- home.html -->
{% extends 'base.html' %}

{% block content %}
<main>
    <div class="content-container">
        <h1>Welcome to Ecoton</h1>
        <p>This is the homepage of your environment-focused platform. Navigate through the site to find various functionalities like checking air pollution and vehicle inspection services.</p>
        <div>
            <a href="{% url 'check_air_pollution' %}" class="btn btn-info">Check Air Pollution</a>
            <a href="{% url 'start_inspection' %}" class="btn btn-info">Vehicle Inspection</a>
        </div>
    </div>
</main>
{% endblock %}
